services:
  postgres:
    image: 'postgres:15'
    environment:
      - 'POSTGRES_DB=fnbmini'
      - 'POSTGRES_PASSWORD=fnbmini123'
      - 'POSTGRES_USER=fnbmini'
    ports:
      - '15432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
